.header {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 10px;
}

.btn {
  background-color: #98f1cc;
  border: 1px solid #429d9d;
  padding: 8px;
  border-radius: 4px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 5px 0 lightblue;
  padding: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    background-color: lightcyan;
    transform: scale(1.02);
  }
  img {
    margin: 0 auto;
  }
}

.cart {
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: grid;
      grid-template-columns: 200px 2fr 1fr 1fr;
      align-items: center;
    }
  }
}
